@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "tailwindcss";

/* Force dark mode to leverage .dark class manually */
@variant dark (&:where(.dark, .dark *));

body {
  font-family: "Poppins", sans-serif;
  @apply bg-neutral-50 text-neutral-600 dark:bg-gray-900 dark:text-gray-300 antialiased;
}

html {
  scroll-behavior: smooth;
}
